
@import url('https://fonts.googleapis.com/css2?family=Andika+New+Basic:ital@1&family=Roboto:ital,wght@1,100;1,300&display=swap');


body {
    margin: 0;   
}


/*wraper ugyan az mint a conainer*/
.wrapper{
    max-width: 1440px;   /*reszponzivitás   1000px  */ 
    margin: 0px auto ;
    
}

header{
    background:url('../images/pexels-pixabay-326278.jpg') fixed;
    color: white;
    font-size: 80px;
    font-weight: 700px;
  /* EZ HELYET A ALATA A PADDING   height: 300px;*/  
    padding: 80PX 60PX;
    text-shadow:rgba(0 0 20px  0.0.0.0.8); /*Betü Árnyéka)*/
}
*{
    box-sizing: border-box;
}

.content{
    background-color: rgba(34, 88, 158, 0.76);
    
}

/* A Menüsor felugorjon a fejlécre  
.content::after {
    content: "";
    clear: both;
    display: table;
  }  ( after= utána)*/


.content::after,   /*Hogy INSpektoral nézve necsuszon fölé az elemnek FLOOTBA és a másik elmben sem CONTENT*/
 footer::after       /*FELJEB MEGKETÖZVE MÁSIKAL MEGADVA DE EZ KELL A eLÖ PONT VIGYÁZNI
                        Rá kell hogy kerüljön a CRILFIXES ELEM MERT EGYBE FOLYIK A KÉP A bETÜVEL*/
{
    content: "";
    clear: both;
    display: table;
  }



nav{
    width: 25%;
    float: left;   /*mind két helyre be kell írni hogy függetlenek maradjanak*/
}

nav ul{
    margin: 0;
    padding: 30px;
    list-style: none;
}

nav ul li{

    border-bottom:1px solid white;  /*dashed  szagatott*/
}
nav a{
    color: rgb(255, 255, 255);
    text-decoration: none;
font-size: 25px;
    padding: 25px 0 0 ;                         /*  padding: 15px; CSAK ETÖL UGRIK SZÉT A pADING SZÉP NAV MENÜRE EZ FONTOS display: block; */ 
    display: block;   
}

nav a:hover{
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.3);
}

main{
    width: 75%;
    float: left;
    background-color: rgba(51, 93, 184, 0.548);
    padding: 30px;
}
main p{
    line-height: 40px;/*23*/
}

main img{
    float: left;
}

.float-right{
    float:right;
    margin: 0 10px 10px 0;
}


.float-left{
    float:left
    margin:0 0 10px 10px;
}

p{
    color: white;
}


footer{
    padding: 20px 0;
}

footer a{
    color: black;
   
}

footer .left{
    float: left;
}

footer .right{
    float : right;
    
}

/*footer::after{   /*FELJEB MEGKETÖZVE MÁSIKAL MEGADVA DE EZ KELL A eLÖ PONT VIGYÁZNI
    Rá kell hogy kerüljön a CRILFIXES ELEM MERT EGYBE FOLYIK A KÉP A bETÜVEL
    content: "";
    clear: both;
    display: table;
  }  */


h1{
 margin-top: 0;
}

h1 span{

   display:inline;
    font-size: 50px;
    
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    -webkit-box-decoration-break: clone;
    -o-box-decoration-break: clone;
    box-decoration-break: clone;
    border-right: 10px solid rgb(255, 255, 255); 
    border-left: 10px solid rgb(255, 255, 255); 
    border-bottom: 10px solid rgb(255, 255, 255); 
    line-height: 75px;
}



/*NORBI STRAT*/

main ul{
    margin: 0;
    padding: 30px;
    list-style: none;
}

main  ul li{
    color: rgb(255, 255, 255); /*  padding: 15px; CSAK ETÖL UGRIK SZÉT A pADING SZÉP NAV MENÜRE EZ FONTOS display: block; */                                    
    line-height: 48px;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
}
main p{
    font-size: 25px;
  
   
font-family: 'Roboto', sans-serif;
}

h1{
    color: white;
    text-decoration: none;
}

h2{
    color: white;
    text-decoration: none;
}

h1 a{
    color: white;
    text-decoration: none;
}
h2 a{
    color: white;
    text-decoration: none;
}
/**/