
    /**/ #hg{;background-color: rgb(0, 75, 141);
    
max-width: 100%; }

#old{ width: 1520px ;
    margin: 110 auto 0 auto;
   
}

#fejléc{
    width: 1520px ;
    height: 100px; 
}

#navsáv{
    
width: 1520px ;
    height: 70px; 
}

#nav{



}


#közép1{}
#közép {float:left;
    width: 90px; 
height:300px ;
margin:  0 20px 0 0; }

#balsáv{float: left; 
width: 1100px;
height: 300px;}

#jobblinksáv{float: left;
max-width:320px ;
height: 300px;
}




#float1{float: left;
width: 1520px;
height: 180px;
}






/*color*/
#old{background-color: rgba(202, 230, 255, 0.74);}

#fejléc{ background-color: rgba(57, 131, 241, 0.534); }

#navsáv{ background-color: rgba(90, 147, 252, 0.664);  }




#közép{background-color: rgba(238, 255, 0, 0.795);}    

#balsáv{background-color:rgba(8, 140, 255,0.329 ) };

#jobblinksáv{background-color: rgba(240, 23, 204, 0.774);}

#float1{background-color: rgba(40, 72, 255, 0.733);}







/*navbar*/

body {
    margin: 0;
    font-family:  Helvetica,Arial, sans-serif;
  }
  

  
  .navbar {
    overflow: hidden;
    background-color: rgba(43, 99, 255, 0.781);
    position:      /*fixed*/      ;
   /*bottom: 0;*/ 
    width: 1520px;
  }
  
  .navbar a {
    float: left;
    display:block ;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px; /*hosszúság le, széleség távol teszi a linkeket*/
    text-decoration:none ; /*eltünteti az aláhuzást linkalol*/
    font-size: 17px;
  }
  
  .navbar a:hover {
    background: #2f4efdc5;
    color:  rgba(243, 28, 250, 0.719); /*  #f1f1f1; */ 
  }
  
  .navbar a.active {
    background-color: rgb(50, 52, 206)0;
    color: white;
  }
  
  .main {
    padding: 16px;
    margin-bottom: 30px;
  }


