{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 

}




{
    font-size: 62.5%;
}

.cont{
    width: 100%;
    height: 100vh;
    background-color:hsla(226, 62%, 67%, 0.549)  ;  /* SZENT NEKEM mind kető  #77df888c;   */  /* eza webold színekböl rgba(6, 37, 95, 0.418)*/      /*:#3D4E7A;*//*#778fdf8c;*/
    /*: rgba(93, 119, 186, 0.562) ;*/
    
    position: relative
    ;
    font-family: "Baloo da 2" ,cursive;
}

.countdown-wrapper{
    width: 100%;
    position: absolute;
    top: 17%;  /*25%*/
    text-align: center;
    color: rgb(255, 251, 251);
    

}

.countdown-wrapper h1{

    font-size: 8rem;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 5rem;
    margin-bottom: 0.3rem;
    padding-bottom:0px ;
    text-shadow:0 0.5rem 0.8rem  rgba(53, 133, 212, 0.6); /*rgba(6, 37, 95, 0.644); */
    /*text-shadow:0 0.5rem 0.8rem rgba(59, 136, 212,0.6); ;*/
}
.countdown{
    display: flex;
    justify-content: center;

}

.countdown div{
    width: 13rem;
    height: 12rem;
    background: linear-gradient(to bottom,
    rgba(rgba(61, 78, 122, 0.973))50%,
    rgba(129, 170, 212, 0.9)
    
    
    );
    margin: 0.4rem 1rem 4rem; /*5 rem a széleség*/
    font-size: 5rem;  /*7 rem szám méret*/
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0.9rem 2.5rem rgba(53, 133, 212, 0.6);  /*rgba(53, 133, 212, 0.6);*/
}
 .countdown div::before{
    /*content: "";*/
    position: absolute;
    width: 100%;
    height: 0.24rem;
   background-color:rgba(7, 123, 240, 0.6);
   /* */
 }

 .countdown div::after{
     content: attr(data-content);
     font-size: 2.2rem;
     font-weight: 400;
     position: absolute;
     bottom: -6rem;

 }

 .reset {
     width: 22rem;
     height: 6rem;
     border: none;
     background-color: crimson;
     font-size: 2.2rem;
     font-weight: 400;
     letter-spacing: 0.2rem;
     text-transform: uppercase;
     color: #ffffff;
     text-shadow: 0.3rem 0.5rem rgba(0,0,0,0.5);
    box-shadow:0.3rem 0.6rem rgba(0,0,0,0.5);
    outline: none;
    }